<div class="container">
  <div class="row chart-row">
    <div class="chart"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <ul class="list-group">
      <li ng-repeat="symbol in allSymbols" id="{{symbol._id}}" class="list-group-item" >
        {{symbol.symbol}}
        <button ng-click="deleteSymbol(symbol._id)">X</button>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <input type="text" ng-model="symbol">
    <button ng-click="addSymbol(symbol)" ng-disabled="!symbol">Add Stock</button>
  </div>
</div>
<footer class="footer">
  <div class="container">
      <p>Stockjump Free Code Camp Basejump #3 |
        <a href="https://twitter.com/umgauper">@umgauper</a> |
  </div>
</footer>
